/*site css*/
body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #4f73bf; }

H1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em; }

.hero {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #1e3072;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b4eff4' fill-opacity='0.09'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #b4eff4;
  border-top: 16px solid #08174c;
  border-bottom: 16px solid #08174c; }
  @media only screen and (max-width: 690px) {
    .hero {
      border-top: 8px solid #08174c;
      border-bottom: 8px solid #08174c; } }
  .hero .content {
    padding: 80px 0px;
    text-align: center;
    overflow: hidden; }
    @media only screen and (max-width: 690px) {
      .hero .content {
        padding: 80px 0px; } }
    .hero .content h1 {
      font-size: 80px;
      line-height: 96px;
      margin: 0; }
      @media only screen and (max-width: 690px) {
        .hero .content h1 {
          font-size: 52px;
          line-height: 64px; } }
    .hero .content .sub-titles {
      position: relative;
      margin-top: 6px;
      padding: 0; }
      .hero .content .sub-titles li {
        list-style: none;
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        left: 0;
        top: 0;
        color: rgba(180, 239, 244, 0);
        font-size: 24px; }
        @media only screen and (max-width: 690px) {
          .hero .content .sub-titles li {
            right: 25%; } }
        .hero .content .sub-titles li.first {
          display: inline;
          animation: fade1 15s; }
        .hero .content .sub-titles li.second {
          animation: fade2 15s; }
        .hero .content .sub-titles li.third {
          animation: fade3 15s; }
        .hero .content .sub-titles li.fourth {
          color: #b4eff4;
          animation: fade4 15s; }
    .hero .content .social {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 0;
      margin: 0;
      margin-top: 80px; }
      .hero .content .social li {
        list-style: none;
        position: relative;
        display: inline-block;
        padding: 20px 0;
        width: 50%;
        float: left;
        text-align: center;
        font-size: 24px; }
        .hero .content .social li a {
          color: #ffe949;
          text-decoration: none;
          fill: currentColor; }
          .hero .content .social li a:hover {
            color: #5092ce; }

@media only screen and (max-width: 690px) {
  @keyframes fade1 {
    0% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    15% {
      color: #b4eff4;
      right: 25%; }
    25% {
      color: rgba(180, 239, 244, 0);
      right: 80%; }
    26% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    100% {
      color: rgba(180, 239, 244, 0);
      right: 0; } }
  @keyframes fade2 {
    0% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    20% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    45% {
      color: #b4eff4;
      right: 25%; }
    50% {
      color: rgba(180, 239, 244, 0);
      right: 80%; }
    51% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    100% {
      color: rgba(180, 239, 244, 0);
      right: 0; } }
  @keyframes fade3 {
    0% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    45% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    70% {
      color: #b4eff4;
      right: 25%; }
    75% {
      color: rgba(180, 239, 244, 0);
      right: 80%; }
    76% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    100% {
      color: rgba(180, 239, 244, 0);
      right: 0; } }
  @keyframes fade4 {
    0% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    75% {
      color: rgba(180, 239, 244, 0);
      right: 0; }
    100% {
      color: #b4eff4;
      right: 25%; } } }
@keyframes fade1 {
  0% {
    color: rgba(180, 239, 244, 0); }
  15% {
    color: #b4eff4; }
  25% {
    color: rgba(180, 239, 244, 0); }
  26% {
    color: rgba(180, 239, 244, 0); }
  100% {
    color: rgba(180, 239, 244, 0); } }
@keyframes fade2 {
  0% {
    color: rgba(180, 239, 244, 0); }
  20% {
    color: rgba(180, 239, 244, 0); }
  45% {
    color: #b4eff4; }
  50% {
    color: rgba(180, 239, 244, 0); }
  51% {
    color: rgba(180, 239, 244, 0); }
  100% {
    color: rgba(180, 239, 244, 0); } }
@keyframes fade3 {
  0% {
    color: rgba(180, 239, 244, 0); }
  45% {
    color: rgba(180, 239, 244, 0); }
  70% {
    color: #b4eff4; }
  75% {
    color: rgba(180, 239, 244, 0); }
  76% {
    color: rgba(180, 239, 244, 0); }
  100% {
    color: rgba(180, 239, 244, 0); } }
@keyframes fade4 {
  0% {
    color: rgba(180, 239, 244, 0); }
  75% {
    color: rgba(180, 239, 244, 0); }
  100% {
    color: #b4eff4; } }
.container {
  padding: 80px 160px;
  text-align: center; }
  @media only screen and (max-width: 690px) {
    .container {
      padding: 72px 40px; } }
  .container h2 {
    font-size: 48px;
    line-height: 64px;
    text-align: left;
    color: #1e3072;
    margin-bottom: 0;
    margin-top: 0; }
    @media only screen and (max-width: 690px) {
      .container h2 {
        font-size: 36px;
        line-height: 44px; } }
  .container .underline-svg {
    width: 100%;
    float: left;
    margin-bottom: 24px;
    fill: #1e3072; }
  .container p {
    color: #b4eff4;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px; }
    @media only screen and (max-width: 690px) {
      .container p {
        width: 100%;
        font-size: 18px; } }

/*# sourceMappingURL=site.css.map */
