/*site css*/

//site colors
$light-blue: #4f73bf;
$dark-blue: #1e3072;
$ocean: #5092ce;
$white: #b4eff4;
$green: #b4eff4;
$black: #08174c;
$yellow: #ffe949;

//break points
$mobile-screen: 690px;
$tablet-screen: 995px;
$desktop-screen: 1440px;

$screen: "only screen";
$mobile: "only screen and (max-width: #{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";


body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: $light-blue;
}

H1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;

}

.hero{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #1e3072;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b4eff4' fill-opacity='0.09'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: $white;
  border-top: 16px solid $black;
  border-bottom: 16px solid $black;
  
  @media #{$mobile} {
    border-top: 8px solid $black;
    border-bottom: 8px solid $black;
  }

  .content{
    padding: 80px 0px;
    text-align: center;
    overflow: hidden;
      @media #{$mobile} {
          padding: 80px 0px

      }

      h1{
        font-size: 80px;
        line-height: 96px;
        margin: 0;

        @media #{$mobile}{
          font-size: 52px;
          line-height: 64px;
        }
      }

      .sub-titles{
        position: relative;
        margin-top: 6px;
        padding: 0;

        li{
          list-style: none;
          position:absolute;
          display:block;
          text-align: center;
          width: 100%;
          left: 0;
          top: 0;
          color: rgba(180,239,244, 0);
          font-size: 24px;

          @media #{$mobile}{
            right: 25%;
          }

          &.first{
            display: inline;
            animation: fade1 15s;
          }
          &.second{
            animation: fade2 15s;
          }
          &.third{
            animation: fade3 15s;
          }
          &.fourth{
            color: rgba(180,239,244, 1);
            animation: fade4 15s;
          }
        }
      }

      .social{
        position: relative;
        display: inline-block;
        width:100%;
        padding: 0;
        margin: 0;
        margin-top: 80px;

        li{
          list-style: none;
          position: relative;
          display: inline-block;
          padding: 20px 0;
          width: 50%;
          float: left;
          text-align: center;
          font-size: 24px;

          a{
            color: $yellow;
            text-decoration: none;
            fill: currentColor;

            &:hover {
              color: $ocean;
            }
          }
        }

      }
  }

}

@media #{$mobile}{
  @keyframes fade1{
    0%{color: rgba(180,239,244, 0); right: 0;}
    15%{color: rgba(180,239,244, 1); right: 25%;}
    25%{color: rgba(180,239,244, 0); right: 80%;}
    26%{color: rgba(180,239,244, 0); right: 0;}
    100%{color: rgba(180,239,244, 0); right: 0;}
  }

  @keyframes fade2{
    0%{color: rgba(180,239,244, 0); right: 0;}
    20%{color: rgba(180,239,244, 0); right: 0;}
    45%{color: rgba(180,239,244, 1); right: 25%;}
    50%{color: rgba(180,239,244, 0); right: 80%; }
    51%{color: rgba(180, 239, 244, 0); right: 0;}
    100%{color: rgba(180, 239, 244, 0); right: 0;}
  }

  @keyframes fade3{
    0%{color: rgba(180, 239, 244, 0); right: 0;}
    45%{color: rgba(180, 239, 244, 0); right: 0;}
    70%{color: rgba(180, 239, 244, 1); right: 25%;}
    75%{color: rgba(180, 239, 244, 0); right: 80%;}
    76%{color: rgba(180, 239, 244, 0); right: 0;}
    100%{color: rgba(180, 239, 244, 0); right: 0;}
  }
  @keyframes fade4{
    0%{color: rgba(180, 239, 244, 0); right: 0;}
    75%{color: rgba(180, 239, 244, 0); right: 0;}
  //  90%{color: rgba(241, 250, 238, 1); right: 0;}
    100%{color: rgba(180, 239, 244, 1); right: 25%;}
  }
}

@keyframes fade1{
  0%{color: rgba(180, 239, 244, 0); }
  15%{color: rgba(180, 239, 244, 1); }
  25%{color: rgba(180, 239, 244, 0); }
  26%{color: rgba(180, 239, 244, 0); }
  100%{color: rgba(180, 239, 244, 0); }
}

@keyframes fade2{
  0%{color: rgba(180, 239, 244, 0); }
  20%{color: rgba(180, 239, 244, 0);}
  45%{color: rgba(180, 239, 244, 1);}
  50%{color: rgba(180, 239, 244, 0);}
  51%{color: rgba(180, 239, 244, 0);}
  100%{color: rgba(180, 239, 244, 0);}
}

@keyframes fade3{
  0%{color: rgba(180, 239, 244, 0); }
  45%{color: rgba(180, 239, 244, 0);}
  70%{color: rgba(180, 239, 244, 1);}
  75%{color: rgba(180, 239, 244, 0);}
  76%{color: rgba(180, 239, 244, 0);}
  100%{color: rgba(180, 239, 244, 0);}
}
@keyframes fade4{
  0%{color: rgba(180, 239, 244, 0); }
  75%{color: rgba(180, 239, 244, 0);}
  100%{color: rgba(180, 239, 244, 1);}
}
.container{

  padding: 80px 160px;
  text-align: center;

  @media #{$mobile}{
    padding: 72px 40px;
  }

  h2{
    font-size: 48px;
    line-height: 64px;
    text-align: left;
    color: $dark-blue;
    margin-bottom: 0;
    margin-top: 0;

    @media #{$mobile} {
      font-size: 36px;
      line-height: 44px;
    }
  }

    .underline-svg {
      width: 100%;
      float: left;
      margin-bottom: 24px;
      fill: $dark-blue;
    }

  p{
    color: $white;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;

    @media #{$mobile}{
      width: 100%;
      font-size: 18px;
    }

  }
}
