/*site css*/

//site colors
$light-blue: #457b9d;
$dark-blue: #3f5973;
$green: #a8dadc;
$white: #f1faee;
$red: #E63946;

//break points
$mobile-screen: 690px;
$tablet-screen: 995px;
$desktop-screen: 1440px;

$screen: "only screen";
$mobile: "only screen and (max-width: #{$mobile-screen})";
$tablet: "only screen and (min-width:#{$mobile-screen}) and (max-width: #{$tablet-screen})";
$desktop: "only screen and (min-width:#{$tablet-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";


body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F1FAEE;
}

H1, h2 {
  font-family: 'Oswald', sans-serif;
}

.hero{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #E63946;
  color: #F1Faee;

  .menu{
    position: absolute;
    top:0;
    left:0;
    z-index: 90;

    .hamburger-container{
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      text-align: left;
      padding: 0 40px;

      .hamburger{
        font-size: 36px;
        line-height: 36px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    ul{
      background-color: $dark-blue;
      color: $white;
      width: 200px;
      height: 0px;
      overflow: hidden;
      list-style: none;
      text-align: left;
      margin: 0;
      transition: height 300ms;


      li{
        font-size: 24px;
        padding: 0;
        margin: 0;
        line-height: 36px;

        &:first-child {
          margin-top: 80px;
        }

        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .content{
    padding: 80px 0px;
    text-align: center;
      @media #{$mobile} {
          padding: 80px 0px
      }

      h1{
        font-size: 80px;
        line-height: 96px;
        margin: 0;
      }

      .sub-titles{
        position: relative;
        margin-top: 6px;
        padding: 0;

        li{
          list-style: none;
          position:absolute;
          display:block;
          text-align: center;
          width: 100%;
          left: 0;
          top: 0;
          color: rgba(241, 250, 238, 0);
          font-size: 24px;

          @media #{$mobile}{
            right: 25%;
          }

          &.first{
            display: inline;
            animation: fade1 15s;
          }
          &.second{
            animation: fade2 15s;
          }
          &.third{
            animation: fade3 15s;
          }
          &.fourth{
            color: rgba(241, 250, 238, 1);
            animation: fade4 15s;
          }
        }
      }

      .social{
        position: relative;
        display: inline-block;
        width:100%;
        padding: 0;
        margin: 0;
        margin-top: 80px;

        li{
          list-style: none;
          position: relative;
          display: inline-block;
          padding: 20px 0;
          width: 50%;
          float: left;
          text-align: center;
          font-size: 24px;

          a{
            color: $white;
            text-decoration: none;
            fill: currentColor;
          }
        }

      }
  }

}

@media #{$mobile}{
  @keyframes fade1{
    0%{color: rgba(241, 250, 238, 0); right: 0;}
    15%{color: rgba(241, 250, 238, 1); right: 25%;}
    25%{color: rgba(241, 250, 238, 0); right: 80%;}
    26%{color: rgba(241, 250, 238, 0); right: 0;}
    100%{color: rgba(241, 250, 238, 0); right: 0;}
  }

  @keyframes fade2{
    0%{color: rgba(241, 250, 238, 0); right: 0;}
    20%{color: rgba(241, 250, 238, 0); right: 0;}
    45%{color: rgba(241, 250, 238, 1); right: 25%;}
    50%{color: rgba(241, 250, 238, 0); right: 80%; }
    51%{color: rgba(241, 250, 238, 0); right: 0;}
    100%{color: rgba(241, 250, 238, 0); right: 0;}
  }

  @keyframes fade3{
    0%{color: rgba(241, 250, 238, 0); right: 0;}
    45%{color: rgba(241, 250, 238, 0); right: 0;}
    70%{color: rgba(241, 250, 238, 1); right: 25%;}
    75%{color: rgba(241, 250, 238, 0); right: 80%;}
    76%{color: rgba(241, 250, 238, 0); right: 0;}
    100%{color: rgba(241, 250, 238, 0); right: 0;}
  }
  @keyframes fade4{
    0%{color: rgba(241, 250, 238, 0); right: 0;}
    75%{color: rgba(241, 250, 238, 0); right: 0;}
  //  90%{color: rgba(241, 250, 238, 1); right: 0;}
    100%{color: rgba(241, 250, 238, 1); right: 25%;}
  }
}

@keyframes fade1{
  0%{color: rgba(241, 250, 238, 0); }
  15%{color: rgba(241, 250, 238, 1); }
  25%{color: rgba(241, 250, 238, 0); }
  26%{color: rgba(241, 250, 238, 0); }
  100%{color: rgba(241, 250, 238, 0); }
}

@keyframes fade2{
  0%{color: rgba(241, 250, 238, 0); }
  20%{color: rgba(241, 250, 238, 0);}
  45%{color: rgba(241, 250, 238, 1);}
  50%{color: rgba(241, 250, 238, 0);}
  51%{color: rgba(241, 250, 238, 0);}
  100%{color: rgba(241, 250, 238, 0);}
}

@keyframes fade3{
  0%{color: rgba(241, 250, 238, 0); }
  45%{color: rgba(241, 250, 238, 0);}
  70%{color: rgba(241, 250, 238, 1);}
  75%{color: rgba(241, 250, 238, 0);}
  76%{color: rgba(241, 250, 238, 0);}
  100%{color: rgba(241, 250, 238, 0);}
}
@keyframes fade4{
  0%{color: rgba(241, 250, 238, 0); }
  75%{color: rgba(241, 250, 238, 0);}
  100%{color: rgba(241, 250, 238, 1);}
}
.container{

  padding: 80px 160px;
  text-align: center;

  @media #{$mobile}{
    padding: 72px 40px;
  }

  h2{
    font-size: 48px;
    line-height: 64px;
    text-align: left;
    color: $dark-blue;
    margin-bottom: 0;
    margin-top: 0;
    }

    .underline-svg {
      width: 100%;
      float: left;
      margin-bottom: 24px;
    }

  p{
    color: #2f5973;
    width: 100%;
    text-align: left;
    line-height: 1.5em;
    font-size: 18px;

    @media #{$mobile}{
      width: 100%;
      font-size: 18px;
    }

  }
}
